<div class="displayTable container">
  <div class="displayTableCell row">

    <div class="authBlock col-sm-8 col-sm-offset-2">
      <h3>Se connecter</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" #userName required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="form-group">
        <input type="button" class="btn btn-primary" value="Connexion" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

    </div>

    <div class="redirectToLogin col-sm-8 col-sm-offset-2">
      <span>Pas de compte ?<span class="redirect" routerLink="/auth/sign-up" class="btn btn-success">Créer un compte</span></span>
    </div>

  </div>
</div>
